@import "tailwindcss";

@font-face {
  font-family: "TextFont";
  src: url("./assets/fonts/GoogleSansFlex.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  font-family: "TextFont", sans-serif;

  --color-primary: #45664A;
  --color-secondary: #9DB967;
  --color-primary-light: #EEF4E7;
  --color-primary-hover: #2d4733;

  --color-text: #242424;
  --color-gray-dark: #A1A1A1;
  --color-gray-light: #F7F7F9;

  --color-background: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
}